* {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Monoton', cursive;
}

#name {
    font-family: 'Monoton', cursive;
    font-size: 25px;
    margin: 10px;
}

.separator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid #ffffff;
    margin-top: -13vw;
}

.navbar {
    border-radius: 10px;
    background-color: #FBFBFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #FBFBFF;
}

.nav-link {
    margin-left: 10px;
}

#about {
    background-color: #657ED4;
    color: #0D0106;
    height: fit-content;
}

#about-h1 {
    color: #ffffff;
}

.About:hover, #Portfolio:hover, #Resume:hover, #Contact:hover {
    border-radius: 10px;
    color: #0D0106;
}

#About:hover, #About:active {
    border-radius: 10px;
    background-color: #657ED4;
}

#Portfolio:hover {
    background-color: #88e788;
}

#Resume:hover {
    background-color: #f85e5e;
}

#Contact:hover {
    background-color: #00db49;
}

/* About Page */
.about-section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    height: 60%;
    width: 60%;
    margin: 50px;
    
}

.about-info {
    color: #0D0106;
    border-radius: 10px;
}

.separator-about {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 10vw solid #657ED4;
    margin-top: 10vw;
}

/* Project Page */
#portfolio-section {
    height: fit-content;
    background-color: rgb(44, 44, 44);
    width: 100vw;
}

.portfolio {
    padding: 20px;
}

.portfolio-h1 {
    color: #ffffff;
    margin: 20px;
}


#portfolio-github {
    color: white;
    font-size: 22px;
    margin: 5px;
}

#portfolio-github:hover {
    color: #f32222;
}

.fa-display {
    font-size: 22px;
    color: white;
    margin: 5px;
}

.fa-display:hover {
    color: #f32222;
}

.card {
    margin: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 50%;
    max-height: 50%;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card:focus-within {
    height: fit-content;
}

.card-title, .card-text, .btn-proj {
    opacity: 0;
    transition: opacity 0.5s;
}

.btn-proj {
    margin: 10px;
}

.button-link {
    text-decoration: none;
    color: white;
}

.card-img:hover {
    filter: blur(5px);
}

.card:hover .card-title, .card:hover .card-text, .card:hover .btn-proj {
    opacity: 1;
}

.card-info:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.separator-projects {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 14.1vw solid #ffffff;
    margin-top: -14vw;
}

/* Resume Section */
#resume {
    height: 75vh;
    width: 100%;
    background-color: #f32222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%;
}

.list-group {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.list-group-item {
    text-align: left;
    color: #0D0106;
    border-radius: 20px!important;
    border: 2px solid #f32222;
    margin: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-h1 {
    color: #ffffff;
    margin: 20px;
    transition: background-color 0.5s;
}

#resume-btn {
    background-color: #f32222;
    border-radius: 50px;
    margin: 20px 0 0 0;
    border: 2px solid #ffffff;

}

#resume-btn-link {
    text-decoration: none;
    color: #ffffff;
}

.fa-download {
    font-size: 25px;
    margin: 5px;
}

#resume-btn:hover {
    background-color: #ffffff;
    color: #f32222;
    border: 2px solid #f32222;
}

.fa-download:hover {
    color: #f32222;
}

/* Contact Section */
.contact {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00db49;
}

.contact-h2 {
    margin: 0 20px 20px 20px;
}

.contact-form {
    height: 75%;
    width: 75%;
}

#form-btn {
    background-color: #ffffff;
    border: solid 1px black;
    border-radius: 50px;
    margin: 20px 0 0 0;
}

.separator-contact {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 13.9vw solid #ffffff;
    margin-top: -13.8vw;
}


/* Footer Section */

.footer {
    display: flex;
    justify-content: center;
}

.container {
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.footer {
    background-color: white;
}

.footer-icon {
    font-size: 25px;
    margin: 5px;
    transition: color 0.5s;
}

.fa-linkedin-in {
    color: #f32222;
}

.fa-envelope {
    color: #657ED4;
}

.fa-github {
    color: #00db49;
}

.fa-twitter {
    color: #e4f21d;
}

@media only screen and (min-width: 600px) {
    #about-img {
        width: 40%;
        height: 40%;
    }

    .about-info {
        margin: 20px;
    }
}
    